{% extends 'base.html.twig' %}

{% block content %}
        <h2>Liste des lamasticots</h2>
        <ul>
            {% for lamasticot in lamasticots %}
                <li>
                    <a href="{{ path('product_detail', {
                        'productId': lamasticot.id
                    }) }}">
                        {{ lamasticot.name|upper }} {{ lamasticot.size}} cm {{lamasticot.cost}} €
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}
