<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Accueil</h1>
        <h2>Liste des lamasticots</h2>
        <ul>
            {% for product in product %}
                <li>
                     <a href="{{ path('product', {'id': product.id}) }}">{{ loop.index }} - {{ product.id }} {{ product.name|upper }}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
