<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% extends 'base.html.twig' %}

        {% block content %}
        <h1>Accueil</h1>
        <h2>Liste des chats</h2>
        <ul>
            {% for cat in cats %}
                <li>
                    <a href="{{ path('product_detail', {
                        'productId': lamasticot.id
                    }) }}">
                        {{ lamasticot.name|upper }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}
