
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Produit : {{ lamasticot.id }} </br>
        Nom : {{ lamasticot.name}} </br>
        Taille : {{ lamasticot.size}} cm </br>
        Prix : {{lamasticot.cost}} € </br></h1>

    </body>
</html>
